#blockly {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 430px;
}
#visualization {
  position: relative;
  padding: 0 10px;
  width: 400px;
}
#capacityBubble {
  position: absolute;
  margin-top: -0.5em;
  left: 10px;
  top: 375px;
  width: 380px;
}
html[dir="RTL"] #capacityBubble {
  left: auto;
  right: 10px;
}
#capacity {
  display: none;
  color: #fff;
  padding: 5px 1em;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  font-size: large;
}
.capacityNumber {
  font-weight: bold;
}
#sampleOneTopBlock {
  height: 80px;
  width: 250px;
}

.helpMenuFake {
  border-radius: 4px;
  background-color: #bfcdde;
  color: #000;
  padding: 0 1ex;
  cursor: default;
}
img[src$="help_up.png"] {
  margin: -20px 10px 0;
  height: 64px;
  width: 23px;
}
img[src$="help_down.png"] {
  margin: 0 10px -20px;
  height: 64px;
  width: 23px;
}

/* Buttons */
button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: center;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.link {
  background-position: 0px 0px;
}

.header {
  padding: 0 10px;
  background-color: #eee;
  height: 60px;
  /*margin-bottom: 10px;*/
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);*/
}
#runButtonWrapper {
  text-align: center;
}

#shop-wrapper {
  width: 100vw;
  height: 56.25vw;
  /* 100/56.25 = 1.778 */
  max-height: 100vh;
  max-width: 177.78vh;
  /* 16/9 = 1.778 */
  margin: auto;
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}

.clickable {
  cursor: pointer;
}

.hidden-text {
  display: none;
}

#drink-shop-material-list:hover #drink-shop-material-list-text {
  display: block;
}

#drink-shop-price-list:hover #drink-shop-price-list-text {
  display: block;
}

#drink-shop-robot:hover #drink-shop-robot-text {
  display: block;
}

.black-text-with-shadow {
  text-shadow: 4px rgba(255, 255, 255, 0.75);
}

#drink-shop-container {
  width: 100%;
  height: 100vh;
  background-color: #e0e0e0;
  position: relative;
}

#drink-shop-workspace-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25)
}

#drink-shop-workspace {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
}

#drink-shop-workspace-left {
  position: relative;
  width: 430px;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#drink-shop-workspace .blocklyFlyout,
#drink-shop-workspace .blocklyFlyoutScrollbar {
  z-index: 0;
}

.drink-shop-level-desc-title {
  color: #00838F;
  font-size: 20px;
  font-weight: bold;
  background-color: #B2EBF2;
  margin-bottom: 5px;
  text-align: center;
}

.drink-shop-level-desc-text {
  margin-bottom: 15px;
}

.hint-img {
  display: block;
  margin: 15px auto;
  border: 1px solid #eee;
}

button {
  margin-bottom: 15px;
}

.svg-clock-circle {
  stroke: #9C27B0;
  stroke-width: 1;
  fill: #E1BEE7;
}

.svg-clock-line {
  stroke: #9C27B0;
  stroke-width: 1;
  stroke-linecap: round;
}

.svg-scoring-board-text {
  alignment-baseline: middle;
  font-size: 7px;
}
